.brOC img.imageIconImage_LegacyButtonEditorSubWidgetSettings{
    vertical-align: middle;
}
.brOC img.imageIconImage_LegacyButtonEditorSubWidgetSettings,
.brOC .FontAwesomeIconImage_LegacyButtonEditorSubWidgetSettings{
    width:32px;
    height:32px;
}