.brOCCallPanel {
  //background-color: #A8C64E;
  overflow-y:auto;
  scrollbar-width:thin;
  box-sizing:border-box;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  border: none;
  color: #304701;
  background-color: #A8C64E;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px;

  .brOCCallPanelRow {
    display: flex;
  }

  .brOCCallPanelMainForRows{
	margin-left:4px;
  }

  .brOCCallPanelDialing {
	height:max-content;
    font-size: 16px;
    font-variant-numeric: tabular-nums;
    white-space: pre-wrap;
    word-break: break-all;
    font-variant-numeric: tabular-nums;
    word-break: break-all;
  }

  .brOCCallPanelLeft {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
	margin-top:1px;
  }
  .brOCCallPanelMain {
	align-items:center;
    flex-grow: 1;
    margin-left: 4px;
  }
  
  .brOCCallPanelPartyName {
	height:max-content;
    font-size: 17px;
    font-variant-numeric: tabular-nums;
    word-break: break-all;
  }
  
  .brOCCallPanelMissedCall {
	height:max-content;
    font-size: 17px;
    font-variant-numeric: tabular-nums;
    word-break: break-all;
  }
  .brOCCallPanelPartyNumber {
	height:max-content;
    font-size: 17px;
    font-variant-numeric: tabular-nums;
    word-break: break-all;
  }
  .brOCCallPanelPartyNumber_small {
	height:max-content;
    font-size: 14px;
    font-variant-numeric: tabular-nums;
    word-break: break-all;
  }
  .brOCCallPanelDuration {
	height:max-content;
    font-size: 16px;
    font-variant-numeric: tabular-nums;
    word-break: break-all;
  }
}
.missedCallRow-callPanel-brekeke_operatorConsole{
	height:max-content;
    display: flex;
    word-break: break-all;
}

