.brOC .ant-input-forBrOCLogin {
  background-color:#f5f5f5 !important;;
  height:40px !important;
}

.brOC .brOCLoginBody{
  margin: 26px auto 20px auto;
  width:352px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding:24px;
}

.brOC .brOCLoginButton{
  text-transform:uppercase;
  font-size:13px;
  font-weight:bold;
  font-stretch: normal;
  font-style:normal;
  height:40px;
  text-align:center;
  width:100%;
}

.brOC .brOCLoginTitle{
  text-transform: capitalize;
  text-align: left;
  margin: 0 0 10px 1px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.3px;
  color: #212121;
}

.brOC .brOCLoginHeaderLogo{
  display:flex;
  width:352px;
  justify-content: center;
  align-items: center;
  margin-left:-6px;
}

.brOC .brOCLoginHeaderLogoProduct {
  background-color: #4bc5de;
  border-radius:3px;
  padding:4px;
  font-weight:bold;
  font-size: 12px;
  position:relative;
  text-transform:uppercase;
  color:#FFFFFF;
  top:3px;
  margin-left:-20px;
}

.brOC .brOCLoginHeaderLogoImage{
  background-image: url(logo.png);
  background-repeat: no-repeat;
  height:39px;
  width:158px;
}

.brOC  .brOCLoginMessageDiv{
  border-left: solid 2px rgba(112, 180, 197, 1);
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin: 2px auto 18px;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
  background-color: #fff;

  font-size: 13px;
  padding: 15px 26px 15px 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: 0.3px;
  color: #000;
}